@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<body>

    <div>
        <img src="C:\Users\user\Desktop\Images\logo.png" alt="">
    </div>

  
</body>
</html>

