@model TwitterClone.Models.HubIndexViewModel
@{
    ViewBag.Title = "Index";
}
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/simple-sidebar.css" rel="stylesheet">


<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Start Bootstrap
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Tweets</h1>
                    <p> When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                    <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("CreateTweet", "Hub", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <!--<form class="form-horizontal">
                    <div class="form-group has-feedback">
                        @*<label for="txt1" class="col-sm-2 control-label">Tweet Here!</label>*@
                        <div class="col-sm-8" id="tweetbox">
                            <input id="txt1" type="text" class="form-control hasclear" placeholder="Tweet Here!">
                        </div>
                    </div>
                </form>-->

            <div class="form-group">
                @*@Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SubmitTweetModel.Content, new { @class = "form-control hasclear", @placeholder = "Tweet Here!"})
                </div>
            </div>
        }
        <ul class="list-unstyled">
            @foreach(var tweet in Model.TweetsViewModel.Tweets)
            {
                <li>@tweet.Content</li>
            }
        </ul>
    </div>
</div>
